*{box-sizing: border-box;}
a{text-decoration: none; color: #333}
#wrap{width: 100%; height: 100%}

.mobile{
  display: none;
}

.popup{
     padding: 5px;
    width: 100%; height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    
    .popupSwiper{
        .swiper-wrapper{
            width:100%;
            text-align: center;
           
                    /* 중앙 정렬 + 겹침 방지 */
        .swiper-slide{
          width: 100%;
          height: 100px;
          border-radius: 25px;

          /* 중앙 정렬 */
          display: flex;
          align-items: center;      /* 수직 가운데 */
          justify-content: center;  /* 수평 가운데 */

          /* fade 모드 안전빵 */
          opacity: 0 !important;
          transition: opacity .35s ease !important;
          &.swiper-slide-active{ opacity: 1 !important; }

          img{
            height: 100%;
            width: auto;
            max-width: 100%;
            object-fit: contain;
            display: block;
          }
        }

            
        }
        .swiper-button_prev{
                    width: 36px;
                    height: 36px;
                    background: rgba(255, 255, 255, 0.4);
                    position: absolute;
                    top: 40%;
                    z-index: 2;
                    border-radius: 10px;
                    left: 300px;
                    cursor: pointer;
                    @media screen and (max-width: 900px){
                        display: none;
                    }
            }
            .swiper-button_next{
                width: 36px;
                height:36px;
                 position: absolute;
                    top: 40%;
                    z-index: 2;
                    border-radius: 10px;
                    right: 300px;
                 background: rgba(255,255,255,.4);
                 cursor: pointer;
                  @media screen and (max-width: 900px){
                        display: none;
                    }
            }
    }
    
    .closeBtn{
        position: absolute;
        right: 50px; top: 45px;
        /* background: rgba(255,255,255,.3); */
        color: #868686;
        border-radius: 10px;
        width: 30px;
        height: 30px;
        padding: 5px;
        z-index: 2;
        cursor: pointer;
        &:hover{background: rgba(255,255,255,.2);  border-radius: 10px; width: 30px;
        height: 30px;}
    }
    @media screen and (max-width: 1000px){
      display: none;
    }
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    .header-left{
        display: flex;
        align-items: center;
        h1{margin-right: 20px;}
        .mobileMenu{
          width: 20px;
          height: 20px;
        }
        #nav{
            >ul{
                display: flex;
                gap: 30px;
                >li{
                  position: relative;
                    >a{ position: relative;
                      padding-bottom: 5px;
                        &:after{
                            content:"";
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            top:5px;
                            right: -17px;
                            background: url(../img/angle-down-solid.svg) no-repeat center center;
                        }
                        &.after-none:after{
                            display: none;
                        }
                    }
                    ul{
                        position: absolute;
                        width: 200px;
                        padding: 20px;
                        background: #fff;
                        box-shadow: 0px 0px 5px #ccc;
                        top: 25px;
                        display: none;
                        li{
                          line-height: 200%;
                          padding: 5px;
                            a{font-weight: bold;}
                            &:hover{background: #eee; border-radius: 5px;}
                        }
                    }
                    &:hover ul{display: block;}
                }
            }
        }
        @media screen and (max-width: 1000px){
          width: 100%;
          justify-content: space-between;
          h1{
            order: 1;
          }
          .mobile{
            display: block;
          }
          #nav{
            display: none;
            position: absolute;
            width: 270px;
            background: #fff;
            color: #333;
            left: 0;
            height: 100vh;
          }
          .my{
            order: 2;
            font-weight: bold;
          }
        }
    }
    .header-right{
        ul{
            display: flex;
            gap: 10px;
            li:first-child{
                a{font-weight: bold;  padding: 10px; display: block;}
                &:hover a{color: #868686;}
            }
            li:nth-child(2){
                a{
                    border: 1px solid #ddd;
                    display: block;
                    padding: 10px;
                    border-radius: 3px;
                }
            }
             li:nth-child(3){
                a{
                    border: 1px solid #ddd;
                    display: block;
                    padding: 10px;
                    background: #000;
                    color: #fff;
                     border-radius: 3px;
                }
            }
        }
        @media screen and (max-width: 1000px) {
            display: none;
        }
    }

    @media screen and (max-width: 1000px) {
            #mobilenav{
              display: block;
              position: absolute;
              width: 270px;
              height: 100vh;
              left: -100%;
              top: 0;
              z-index: 3;
              background: #fff;
              padding: 30px 20px;
              transition: .3s;
              box-shadow: 5px 0 5px #cecece;
              >ul{
                >li{
                  position: relative;
                  width: 100%;
                  line-height: 300%;
                    >a{ position: relative;
                      padding-bottom: 5px;
                      font-weight: bold;
                        &:after{
                            content:"";
                            position: absolute;
                            width: 16px;
                            height: 16px;
                            top:5px;
                            right: -17px;
                            background: url(../img/angle-down-solid.svg) no-repeat center center;
                            transition: transform .3s ease;
                        }
                        &.active:after{
                          transform: rotate(180deg);
                        }
                        &.after-none:after{
                            display: none;
                        }
                    }
                    ul{
                      display: none;
                        
                        li{
                          line-height: 200%;
                          padding: 5px;
                            a{}
                            &:hover{background: #eee; border-radius: 5px;}
                        }
                    }
                }
            }
            .mobile-Menu-footer{
              margin-top: 10px;
              ul{
                li{
                  margin-bottom: 5px;
                  border: 1px solid #ccc;
                  text-align: center;
                  border-radius: 5px;
                  a{display: block; padding: 10px 10px;}
                  &:nth-child(2){
                    background: #000;
                    a{
                      color: #fff;
                    }
                  }
                }
              }
            }
            .closeBtn{
              position: absolute;
              top: 0;
              left: 270px;
              width: 36px;
              height: 36px;
              background: #fff;
              border: none;
              box-shadow: 5px 5px 5px #cecece;
              cursor: pointer;
            }
            &.open{
              left: 0;
            }
            }
        }
}



.section1{
  .pc{
    text-align: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .animated-text{
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.2;
      min-height: 2.4rem;
      white-space: nowrap;
      overflow: hidden;
      h3.accent{
        display: inline-block;
        padding: 0 .35rem;
      }
    }
    .section1Box{
      width: 720px;
      height: 184px;
      border: 1px solid #ddd;
      border-radius: 20px;
      margin-top: 20px;
      padding: 20px;
      text-align: left;
      box-shadow: 5px 7px 20px #ddd;
      .icon{
        display: flex;
        align-items: center;
        span{
          font-size: 12px;
          font-weight: 600;
        }
      }
      textarea{
        border: none;
        width: 100%;
        height: 100px;
        text-align: left;
        color: #ddd;
        &:focus{
          outline: none;
        }
      }
    }
    @media screen and (max-width: 1000px){
      display: none;
    }
    
  }
  .mobile{
    position: relative;
    display: none;
     @media screen and (max-width: 1000px){
      display: block;
      .video{
        display: flex;
        justify-content: center;
        height: 95vh;
        align-items: center;
        video{
          width: 80%;
          }
        }
        .mymake{
          background: #000;
          color: #fff;
          padding: 10px 20px;
          position: absolute;
          bottom: 20px;
          left: 50%;
          transform: translate(-50%);
          border-radius: 10px;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            transform: translateX(-50%) scale(0.99);
          }
        }
      }
    }
  }




.section2{
    .pc{
      padding: 50px 20px;
      text-align: center;
      h2{
          font-size: 50px;
          font-weight: bold;
          margin-bottom: 30px;
      }
      .carousel-wrapper{
          width: 100%;
          overflow: hidden;
          position: relative;
          padding: 100px 0;
          .carousel{
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              gap: 20px;
              overflow-x: auto;
              min-width: max-content;
            /*  scroll-behavior: smooth; */
              .carousel-item{
                  flex-shrink: 0;
                  position: relative;
                  &:nth-child(1), &:nth-child(5), &:nth-child(6), &:nth-child(10){
                    width: 15vw;
                      height: 10.4vw;
                      padding: 0px;
                  }
                  &:nth-child(2), &:nth-child(4), &:nth-child(7), &:nth-child(9){
                      width: 10vw;
                      height: 17.2vw;
                      padding: 0px;
                  }
                  &:nth-child(3), &:nth-child(8){
                    width: 45vw;
                      height: 25.3vw;
                      padding-bottom: 67px;
                      padding-top: 60px;
                      box-sizing: content-box;
                      position: relative;
                      position: relative;
                      .text-container{
                          text-align: left;
                          height: 13%;
                          width: 100%;
                          position: absolute;
                          .title{
                              font-size: 24px;
                              font-weight: bold;
                          }
                          .desc{
                              margin-top: 10px;
                              font-size: 12px;
                          }
                      }
                      
                  }
                  .video-container{
                      width: 100%;
                      height: 100%;
                      overflow: hidden;
                      border-radius: 8px;
                      background: lightgray;

                      video{
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                      }
                  }
                  .text-container{
                      position: absolute;
                      height: 0px;
                      overflow: hidden;
                  }
                  .pc-play-btn{
                    user-select: none;
                    width: 64px;
                    height: 64px;
                    border: none;
                    padding: 0px;
                    margin: 0px;
                    background-image: url(../img/mobile-play-button.png);
                    background-size: contain;
                    opacity: 1;
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    border-radius: 20px;
                    display: none;
                    
                  }
                  &:hover .pc-play-btn{
                      display: block;
                  }
              }
          }
      }
      .nav-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        cursor: pointer;
        opacity: 0;
        transition: .3s;
        &:hover.left{
          left: 0;
          opacity: 1;
        }
        &.right{
          right: 0;
        }
        &:hover.right{
          opacity: 1;
        }
      }
    }
    @media screen and (max-width: 1000px){
      .pc{
        display: none;
      }
      .mobile{
        display: block;
        padding: 50px 0;
        text-align: center;
        h2{
            font-size: 42px;
            font-weight: bold;
            margin-bottom: 30px;
            line-height: 1.2;
        }
        .carousel-wrapper{
          padding-left: 200px;
          .carousel{
            display: flex;
            gap: 20px;
            width: 100%;
            flex-wrap: nowrap;
            overflow-x: auto;
            min-width: max-content;
            .carousel-item{
              flex-shrink: 0;
              position: relative;
              height: 70vw;
              &:nth-child(1){
                width: 40vw;
              }
              &:nth-child(2){
                width: 40vw;
              }
              &:nth-child(3){
                width: 40vw;
              }
              .video-container{
                width: 100%;
                height: 100%;
                video{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
              .mobileplay{
                user-select: none;
                width: 64px;
                height: 64px;
                border: none;
                padding: 0px;
                margin: 0px;
                background-image: url(../img/mobile-play-button.png);
                background-size: contain;
                opacity: 1;
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
                border-radius: 20px;
              }
              .mobile-text-title{
                position: absolute;
                bottom: 80px;
                color: #fff;
                z-index: 10;
                left: 10px;
                font-size: 20px;
                font-weight: 700;
              }
              .mobile-text-desc{
                position: absolute;
                bottom: 50px;
                color: #fff;
                z-index: 10;
                left: 10px;
                font-size: 12px;
              }
            }
          }
          @media screen and (max-width: 720px){
            padding-left: 10px;
            .carousel{
              .carousel-item{
                &:nth-child(1){
                  width: 50vw;
                }
                &:nth-child(2){
                  width: 50vw;
                }
              }
            }
          }
        }
      }
    }
}
.section3{
    width: 100%;
    height: 800px;
}